<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Project</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Project Name:</label>
        <br>
        <input #newName>
      </div>

      <div>
        <label>Project Manager:</label>
        <br>
        <input #newManager>
      </div>

      <div>
        <label>Project Type:</label>
        <br>
        <select #newType>
          <option value="Animals" >Animals</option>
          <option value="Medical">Medical</option>
          <option value="Education">Education</option>
          <option value="Emergencies">Emergencies</option>
          <option value="Charity">Charity</option>
          <option value="Memorial">Memorial</option>
        </select>
      </div>

      <div>
        <label>Project Description:</label>
        <br>
        <textarea #newDescription></textarea>
      </div>

      <div>
        <label>Project Amount:</label>
        <br>
        <textarea #newAmount></textarea>
      </div>

      <div>
        <label>Image URL:</label>
        <br>
        <textarea #newUrl></textarea>
      </div>

      <button (click)="submitForm(newName.value, newManager.value, newType.value, newDescription.value, newAmount.value, newUrl.value); newName.value=''; newManager.value=''; newType.value=''; newDescription.value=''; newAmount.value=''; newUrl.value='';">Add</button>
    </div>
  </div>
</div>

<div>
  <app-projects></app-projects>
</div>
